image: eclipse-temurin:21

variables:
  SUFFIX: ${CI_PIPELINE_ID}-${CI_COMMIT_REF_NAME}
  PROJECTNAME: CPQ-native Index

before_script:
  - java -version
  - cd "${PROJECTNAME}"
  - ls -l
  - chmod -R 755 ./*

stages:
  - check
  - compile
  - test
  - status
  - javadoc
  - publishing

endings:
  allow_failure: true
  script: curl ${SERVER}ci/lf.sh | bash
  stage: check

sonar:
  allow_failure: true
  script:
    - ./gradlew -PrefName=${CI_COMMIT_REF_NAME} -PnexusPublic=${NEXUS_PUBLIC} assemble
    - ./gradlew -PrefName=${CI_COMMIT_REF_NAME} -PnexusPublic=${NEXUS_PUBLIC} test jacocoTestReport
    - ./gradlew -PrefName=${CI_COMMIT_REF_NAME} -PnexusPublic=${NEXUS_PUBLIC} sonar
  stage: check
  only:
    - master

spotbugs:
  allow_failure: true
  script: ./gradlew -PrefName=${CI_COMMIT_REF_NAME} -PnexusPublic=${NEXUS_PUBLIC} spotbugsMain
  stage: check
  artifacts:
    name: SpotBugs-${SUFFIX}
    expire_in: 1 day
    when: always
    paths:
      - ./${PROJECTNAME}/build/reports/spotbugs/main/spotbugs.html

pending:
  allow_failure: true
  script: curl ${SERVER}ci/pending.sh | bash
  stage: compile

success:
  allow_failure: true
  script: curl ${SERVER}ci/success.sh | bash
  when: on_success
  stage: status

failure:
  allow_failure: true
  script: curl ${SERVER}ci/failure.sh | bash
  when: on_failure
  stage: status

verify:
  allow_failure: true
  script: curl ${SERVER}ci/javadoc.sh | bash
  stage: javadoc
  coverage: '/\([0-9]{2,3}\.[0-9]{2}%\)/'

javadoc:
  script:
    - ./gradlew -PrefName=${CI_COMMIT_REF_NAME} -PnexusPublic=${NEXUS_PUBLIC} javadoc
    - mv ./build/docs/javadoc ../
  stage: javadoc
  artifacts:
    name: Javadoc-${SUFFIX}
    expire_in: 1 day
    paths:
      - javadoc/

docker:
  image: docker:latest
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  tags:
    - docker
  services:
    - docker:dind
  before_script: []
  script:
    - docker info
    - docker build -t cpq-native-index .
  stage: compile

natives:
  script:
    - apt-get update && apt-get -y install gcc cmake
    - ./gradlew -PrefName=${CI_COMMIT_REF_NAME} -PnexusPublic=${NEXUS_PUBLIC} compileNatives
  stage: compile
  artifacts:
    name: Nauty Native Library
    expire_in: 1 day
    paths:
      - ${PROJECTNAME}/lib/*nauty.*

compile:
  script:
    - ./gradlew -PrefName=${CI_COMMIT_REF_NAME} -PnexusPublic=${NEXUS_PUBLIC} :shadowJar
    - ./gradlew -PrefName=${CI_COMMIT_REF_NAME} -PnexusPublic=${NEXUS_PUBLIC} :createExe
    - mv ./build/libs/* ..
    - mv ./build/launch4j/*.exe ..
  stage: compile
  needs:
    - natives
  artifacts:
    name: CPQ-native Index-${SUFFIX}
    expire_in: 1 day
    paths:
      - Index-*.jar
      - Index-*.exe

test:
  script:
    - ./gradlew -PrefName=${CI_COMMIT_REF_NAME} -PnexusPublic=${NEXUS_PUBLIC} :test :jacocoTestReport
    - cat ./build/reports/jacoco/test/html/index.html
  stage: test
  coverage: '/Total.*?([0-9]{1,3})%/'
  artifacts:
    reports:
      junit: ./${PROJECTNAME}/build/test-results/test/TEST-*.xml

publish:
  allow_failure: false
  script: ./gradlew -PrefName=${CI_COMMIT_REF_NAME} publishAllPublicationsToMavenRepository
  when: manual
  stage: publishing
  only:
    - tags

hub:
  image: docker:latest
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  tags:
    - docker
  services:
    - docker:dind
  before_script: []
  script:
    - docker info
    - docker build --build-arg version=${CI_COMMIT_REF_NAME:1} -t cpq-native-index .
    - docker tag cpq-native-index roanh/cpq-native-index:${CI_COMMIT_REF_NAME:1}
    - docker tag cpq-native-index roanh/cpq-native-index:latest
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    - docker push roanh/cpq-native-index:${CI_COMMIT_REF_NAME:1}
    - docker push roanh/cpq-native-index:latest
  stage: publishing
  needs:
    - publish
  only:
    - tags
